{% include 'menu.html' %}
{% block content %}

<form action="{% url 'add_question' %}" method="post">
	{% csrf_token %}

	{% for message in messages %}
	<div class="alert alert-{{messgae.tags}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-lable="close">
			<span area-hidden="true">&times;</span>
		</button>
	{{ message }}
	</div> 
	{% endfor %}

	
	<table class="table">
		<tr>
			<th>Add Question</th>
		</tr>
		<tr>
			<td>Question:</td>
			<td><textarea name="questions"></textarea></td>
		</tr>
		<tr>
			<td>Option1:</td>
			<td><textarea name="choice1"></textarea></td>

			<td>Option2:</td>
			<td><textarea name="choice2"></textarea></td>
		
		</tr>
		<tr>
			<td>Option3:</td>
			<td><textarea name="choice3"></textarea></td>

			<td>Option4:</td>
			<td><textarea name="choice4"></textarea></td>
		
		</tr>
		<tr>
			<td>
				Right Answer:
			</td>
			<td>
				<select name="currect_answer">
					<option>Select Option</option>
					<option value="1">Option1</option>
					<option value="2">Option2</option>
					<option value="3">Option3</option>
					<option value="4">Option4</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><button class="btn btn-info" type="submit">Add Question</button></td>
		</tr>

	</table>
	
</form>

{% endblock %}